{
  "socket_server_URL" : "http://localhost:3000",
  "printer_joins" : ["#email","#twitter"],
  "twitter_consumer_key" : "",
  "twitter_consumer_secret" : "",
  "twitter_access_token_key" : "",
  "twitter_access_token_secret" : "",
  "twitter_follow" : "20577168,3197921",
  "twitter_follow_just_for_you_as_a_comment" : "@tagesschau_eil => 20577168, @heiseonline => 3197921"
}
